/* RTL Support */

@media only screen and (min-width: 960px) {
    body:not(.folded) #wpadminbar {
        right: var(--menu_width) !important;
        left: 0 !important;
    }
    
    body:not(.folded) #wpcontent, body:not(.folded) #wpfooter {
        margin-right: var(--menu_width);
        margin-left: 0;
    }

    body:not(.folded) #adminmenumain li.opensub:not(.wp-has-current-submenu) .wp-submenu {
        right: calc(var(--menu_width) - 10px);
        left: 0;
    }

    body:not(.folded) #adminmenumain div.wp-menu-image {
        margin-right: 0;
        margin-left: 12px;
    }
        
    body:not(.folded) .components-notice-list, body:not(.folded) .edit-post-header {
        right: var(--menu_width)!important;
        left: 0 !important;
    }

}

#wpadminbar #wp-toolbar #wp-admin-bar-my-account.with-avatar>.ab-empty-item img, #wpadminbar #wp-toolbar #wp-admin-bar-my-account.with-avatar>a img {
    margin: -4px 10px 0 0px;
}

#cf .cf-content {
    margin-right: 200px;
    margin-left: 0;
}

span.cf-field-title {
    margin-right: 0% !important;
    margin-left: 5%;
    float: right !important;
}

.cf-save {
    right: 20px !important;
}

.cf-header h1 {
    float: right !important;
}

.cf-header span {
    margin: 15px 20px 18px 0px !important;
    float: right !important;
}

@media (min-width: 782px) {
    .edit-post-layout__content {
        margin-right: var(--menu_width);
        margin-left: 0;
    }
}

