/* Settings Pgae */

html body #cf {

    .cf-body {
        background: rgba(0, 0, 0, 0.065);
        margin-top: 25px;
        min-height: 580px;
        overflow: hidden;
    }
    
    .cf-header {

        h1 {
            color: var(--primary_text_color);
            line-height: 26px;
            font-weight: 700;
            font-family: Josefin Sans,sans-serif;
        }

        span {
            background: rgba(0,0,0,.065);
            color: var(--secondary_text_color);
            margin: 16px 0 18px 20px;
            line-height: 24px;
        }

    }

    .cf-nav {
        background: rgba(0, 0, 0, 0.03);

        li {
            color: var(--primary_text_color);
            opacity: 0.35;
                    
            &.active {
                color: var(--primary_text_color);
                background: rgba(0, 0, 0, 0.065);
                opacity: 1;
            }
        }

    }
    
    .cf-content {
        h2 {
            color: var(--primary_text_color);
        }

        .cf-field {
            .cf-field-title {
                color: var(--primary_text_color);
                width: 40%;
            }
            
            .cf-item-field-controls {
                float: left;
                width: 55%;
            }
        }
    }

    //  Seprater
    .cora-separator {
        background: rgba(0,0,0,.1);
        padding: 8px 16px;
        border-radius: 3px;
        width: fit-content;
        margin: 0px 0px 15px 0px;
    }

    // premium version
    .cora-go-premium {
        position: absolute;
        top: 0;
        left: 190px;
        margin: 140px 130px;
        padding: 40px;
        border-radius: 5px;
        background: var(--primary_background_color);
        z-index: 999;
        box-shadow: 0 0 30px rgba(0,0,0,.05);

        h2 {
            margin-bottom: 25px;
            margin-top: 0;
        }

        p {
            line-height: 28px;
            color: var(--primary_text_color);
            margin: 0 0px 25px;
            font-size: 15px;
        }
        
        .button {
            text-transform: uppercase;
            margin-right: 2px !important;
        }
        
        .button-primary {
            --primary_button_color: #ff5c42;
        }

        .button:not(.button-primary){
            --secondary_button_color: #b2b2c5;
            --secondary_button_text: #fff;
        }
    }

    h2[section=theme], h2[section=login], h2[section=scripts] {
        opacity: .08;
    }

    .cora-section-placeholder{
        position: absolute;
        top: 65px;
        left: 190px;
        padding: 35px 50px;
        border-radius: 5px;
        z-index: 998;
        box-shadow: 0 0 30px rgba(0,0,0,.05);
        width: 609px;
        height: calc(100%);
        box-sizing: border-box;
        opacity: 0.08;
        background-repeat: no-repeat;
    }

}

/* Fields */

body {

    input[type=number],
    input[type=password],
    input[type=text],
    select,
    textarea {
        background-color: rgba(0, 0, 0, 0.08) !important;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.15) !important;
        }
    }        


    // Repeater field
    .cf-repeater-item {
        background: var(--secondary_background_color);
        
        .cf-repeater-item-head {
            span {
                color: var(--secondary_text_color);
            }

            svg {
                fill: var(--secondary_text_color);
            }

            i.cf-status-arrow {
                color: var(--secondary_text_color);
            }
        }

        .cf-repeater-item-fields {
            border-top: 1px solid rgba(0, 0, 0, 0.065);
            
            .cf-repeater-item-field {

                .cf-repeater-item-title {
                    color: var(--secondary_text_color);
                }
                
                .select2-selection {
                    border: 1px solid rgba(0, 0, 0, 0.065) !important;
                }
            }
        }
        
    }
        
    // Select field

    .select2-dropdown, .select2-selection--multiple {
        background-color: var(--secondary_background_color) !important;
    }

    .select2-container--default .select2-selection--single {
        background-color: var(--secondary_background_color);

        .select2-selection__rendered {
            color: var(--primary_text_color);
        }
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background: rgba(0, 0, 0, 0.1);
        border-color: rgba(0, 0, 0, 0.1);
        margin-bottom: 0;
    }
    
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        margin-right: 3px;
    }
    
    // Color field
    
    .pickr .pcr-button:before {
        display: none;
    }

    // Switch
    .cf-switch-inner.false span {
        background-color: rgba(0, 0, 0, 0.065);
    }

    // Demo
    .cf-demo-field {
        margin-top: -5px;

        .cf-demo {
            border: none;
            border-radius: 3px;
            box-shadow: 0 0 15px rgba(0,0,0,.065);
            background: var(--secondary_background_color);
            border: 1px solid rgba(0,0,0,.12);
            height: 200px;
            position: relative;
            
            img {
                width: 420px;
                height: auto;
                float: left;
            }

            .cf-demo-bottom {
                padding: 9px 15px;
                float: left;
                width: 100%;
                box-sizing: border-box;
                line-height: 26px;
                position: absolute;
                bottom: 0;
                z-index: 10;
                background: var(--secondary_background_color);
                border-top: 1px solid rgba(0,0,0,.035);
                                
                span {
                    color: var(--secondary_text_color);
                }
            }
        }
    }

    // Image
    .cf-image-field input {
        margin-right: 1px;
    }    
}
