/* Admin Menu: width */

body:not(.folded) #wpadminbar{
    left: var(--menu_width);
    width: calc(100% - var(--menu_width));
}

body.folded #wpadminbar{
    left: var(--menu_folded_width);
    width: calc(100% - var(--menu_folded_width));
}