/* Admin Menu: Hide arrow */

#adminmenumain {
    a.wp-has-current-submenu:after, a.current:after, .wp-submenu:after, .opensub:hover:after {
        display: none;
    }
    .wp-menu-arrow{
        display: none;
    }
}


/* Admin Menu: Custom icons */

#adminmenumain{
    div[class*=' dashicons-cora']::before{
        font-family: 'Material Icons' !important;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        line-height: 30px;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        font-feature-settings: 'liga';
    }    
}


/* Admin Menu: Collapse button */

#collapse-button {
    margin-top: 30px;
    float: left;
}


/* Admin Menu: Branding */

.cora-branding {
    font-weight: 700;
    font-size: 18px;
    color: var(--menu_logo_text);
    line-height: 20px;
    font-family: Josefin Sans,sans-serif;
    margin-bottom: 30px!important;
    margin-top: 10px!important;
    float: left;
    width: 100%;
    opacity: 0;
    transition: all .15s;
        
    img {
        height: auto;
        float: left;
    }
}


/* Admin Menu: not-folded */

@mixin not-folded {

    #adminmenumain {
        
        #adminmenu, .wp-submenu, #adminmenuback, #adminmenuwrap {
            width: var(--menu_width);
        }

        li.opensub:not(.wp-has-current-submenu) .wp-submenu {
            width: calc(var(--menu_width) - 60px);
            left: calc(var(--menu_width) - 10px);
            border-radius: 3px;
            box-shadow: 0 0px 30px rgba(0,0,0,.1);
        }

        #adminmenu {
            padding: 0 20px;
            box-sizing: border-box;
            float: left;
            margin-top: 30px;

            > li:nth-child(2) {
                margin-top: 0px !important;
            }
        }

        li.menu-top {
            border-radius: 3px;
            box-shadow: none !important;
        }

        a.menu-top {
            border-radius: 3px;
            font-size: 14px !important;
            height: 30px !important;
            box-shadow: none !important;
        }

        div.wp-menu-image{
            margin-left: 5px;
            margin-right: 6px;
            position: relative!important;        
        }

        div.wp-menu-name {
            padding-top: 1px;
            line-height: 30px;
            position: relative!important;
            left: 0!important;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 13px;
        }

        .wp-menu-image::before {
            font-size: 17px;
            padding: 0;
            line-height: 30px;    
        }
        
        li.menu-top {
            min-height: 30px;
            float: left;
            width: 100%;

            &:hover{
                background-color: transparent !important;
            }
        }

        .wp-menu-image {
            height: 30px;
        }

        li.wp-has-current-submenu {
            margin: 8px 0;

            a.menu-top {
                border-radius: 3px;
            }

            .wp-submenu, .wp-submenu:hover{
                width: 100%;
                padding: 8px 0px;
                border-radius: 0px 0px 3px 3px;
                background-color: transparent !important;
            }
        }


        .wp-not-current-submenu:hover:after {
            display: none;
        }

        #adminmenu .wp-submenu-head, #adminmenu a.menu-top {
            font-weight: bold;
        }

        .awaiting-mod, .update-plugins {
            margin: 0px -12px 0px 10px !important;
            padding: 0 6px !important;
            min-width: auto !important;
            background-color: rgba(255, 255, 255, 0.1) !important;
            color: var(--menu_highlight_text) !important;
            float: right !important;
            border-radius: 3px !important;
        }

        .opensub{
            .awaiting-mod, .update-plugins {
                margin: 0 !important;
            }
        }

        .current, a.wp-has-current-submenu, a.menu-top {
            .awaiting-mod, .update-plugins {
                display: none !important;
            }
        }

        .wp-submenu li.current a {
            font-weight: normal;
        }
    }

    #wpcontent, 
	#wpfooter{
		margin-left: var(--menu_width);
		.rtl &{
			margin-left: 0;
			margin-right: var(--menu_width);
		}
    }
    
	.rtl{
		#adminmenu .opensub:not(.wp-menu-open) .wp-submenu,
		.components-notice-list,
		.edit-post-header{
			left: 0 !important;
			right: var(--menu_width);
		}
    }

    #wpadminbar {
        left: var(--menu_width);
        width: calc(100% - var(--menu_width));
    }

	.edit-post-header,
	.components-notice-list{
		left: var(--menu_width) !important;
    }
        
}


/* Admin Menu: Folded */

@mixin folded {

    #adminmenumain {
        
        #adminmenu, #adminmenuback, #adminmenuwrap, li.menu-top, .collapse-button-icon {
            width: var(--menu_folded_width);
        }
        
        .opensub .wp-submenu {
            left: var(--menu_folded_width) !important;
            border-radius: 3px;
        }
    
        li {
            background: transparent !important;
    
            a{
                border-radius: 3px;
                margin: 0 10px;
                .wp-menu-image{
                    width: 100%;
                    text-align: center;
                    float: left;
                    left: 0;
                }
            }
        }
    
        .wp-menu-image::before {
            font-size: 20px;
        }
        
        div[class*=' dashicons-cora']::before{
            line-height: initial;        
        }

        .cora-branding {
            display: none;
        }    
    }

	#wpcontent, 
	#wpfooter{
		margin-left: var(--menu_folded_width);
		.rtl &{
			margin-left: 0;
			margin-right: var(--menu_folded_width);
		}
    }

     #wpadminbar {
        left: var(--menu_folded_width);
        width: calc(100% - var(--menu_folded_width));
    }

	.rtl{
		#adminmenu .opensub:not(.wp-menu-open) .wp-submenu,
		.components-notice-list,
		.edit-post-header{
			left: 0 !important;
			right: var(--menu_folded_width);
		}
    }
    
	.edit-post-header,
	.components-notice-list{
		left: var(--menu_folded_width) !important;
    }
    
}


/* Admin Menu: Use mixins */


// Big Screens
@media only screen and (min-width: 960px) {
    body:not(.folded) {
        @include not-folded;
    }
}

body.folded:not(.auto-fold) {
    @include folded;
}

@media screen and (min-width: 782px) {
    body.folded {
        @include folded;
    }    
}



// Auto fold
@media only screen and (min-width: 782px) and (max-width: 960px) {    
    .auto-fold{
        @include folded;
    }
    body:not(.auto-fold):not(.folded) {
        @include not-folded;
    }
}

// Small Screens
@media screen and (max-width: 782px) {
    @include not-folded;
    
    .cora-branding {
        display: none;    
    }

    .wp-submenu {
        margin: 0 !important;
        left: 0 !important;        
    }

	.rtl{
		#adminmenu .opensub:not(.wp-menu-open) .wp-submenu,
		.components-notice-list,
		.edit-post-header{
			left: 0 !important;
			right: 0;
		}
    }
    
	.edit-post-header,
	.components-notice-list{
		left: 0 !important;
    }
}