/* Buttons */

// Button Mixin
@mixin button( $button-color, $text-color: #fff ) {
	background: $button-color;
	border-color: $button-color;
	color: $text-color;
	text-shadow: none !important;
    border: none;
    padding-top: 1px;
    padding-bottom: 1px;

	&:hover,
	&:focus {
		background: $button-color;
		border-color: $button-color;
		color: $text-color;
        filter: brightness(95%);
	}

	&:focus {
		box-shadow:
			0 0 0 1px #fff,
			0 0 0 3px $button-color;
	}

	&:active {
		background: $button-color;
		border-color: $button-color;
        filter: brightness(95%);
		color: $text-color;
	}

	&.active,
	&.active:focus,
	&.active:hover {
		background: $button-color;
		border-color: $button-color;
        filter: brightness(95%);
	}

	&[disabled],
	&:disabled,
	&.button-primary-disabled,
	&.disabled {
        filter: grayscale(0.4) brightness(95%);
		color: $text-color !important;
		background: $button-color !important;
		border-color: $button-color !important;
		text-shadow: none !important;
	}
}


// Primary Button

html .wp-core-ui {
    .button.button-primary, .button-primary {
		@include button( var(--primary_button_color), var(--primary_button_text) );
	}
}


// Secondary Button

.wp-core-ui {
	.button, .button-secondary {
		@include button( var(--secondary_button_color), var(--secondary_button_text) );
	}
}
