/* Buttons */

// Button Mixin
@mixin button( $button-color, $text-color: #fff ) {
	background: $button-color;
	border-color: $button-color;
	color: $text-color;
	box-shadow: 0 1px 0 $button-color;
	text-shadow: none !important;

	&:hover,
	&:focus {
		background: $button-color;
		border-color: $button-color;
		color: $text-color;
        box-shadow: 0 1px 0 $button-color;
        filter: brightness(90%);
	}

	&:focus {
		box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1),
					0 0 2px 1px #33b3db;
	}

	&:active,
	&.active,
	&.active:focus,
	&.active:hover {
		background: $button-color;
		border-color: $button-color;
        box-shadow: inset 0 2px 0 $button-color;
        filter: brightness(90%);
	}

	&[disabled],
	&:disabled,
	&.button-primary-disabled,
	&.disabled {
        filter: grayscale(0.4) brightness(90%);
		color: $text-color !important;
		background: $button-color !important;
		border-color: $button-color !important;
		text-shadow: none !important;
	}

	&.button-hero {
		box-shadow: 0 2px 0 $button-color !important;
		&:active {
		 	box-shadow: inset 0 3px 0 $button-color !important;
		}
	}

}

// Primary Button

html .wp-core-ui {
    .button.button-primary, .button-primary {
		@include button( var(--primary_button_color), var(--primary_button_text) );
	}
}


// Secondary Button

.wp-core-ui {
	.button, .button-secondary {
		@include button( var(--secondary_button_color), var(--secondary_button_text) );
	}
}

