%cora-custom-typography {
	p, ul, ol, dl, blockquote, pre, dialog {
		font-size: 1em;
		line-height: 1.75em;
		margin: 1em 0 1em 0 ;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	h3 {
		font-size: 1.17em;
	}
	
	h4 {
		font-size: 1em;
	}
	
	h5 {
		font-size: 0.83em;
	}
	
	h6 {
		font-size: 0.75em;
	}
	
	h1, h2, h3, h4, h5, h6{
		font-weight: bold;
	}

	p {
		line-height: 1.75;
		-ms-word-break: break-all;
		word-break: break-all;
		word-break: break-word;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
	}
				
	strong {
		font-weight: bold;
	}
	
	em {
		font-style: italic;
	}
	
	code, pre {
		font-family: monospace, serif;
		font-size: 1em;
	}
	
	blockquote {
		font-style: italic;
	}
}

// For custom dashboard widgets.
#dashboard-widgets .cora-dashboard-widget {
    font-size: 15px;
    margin-top: -10px;
	background-color: transparent;
	margin-top: -.35em;
	margin-bottom: -.35em;
    @extend %cora-custom-typography;
}

// For custom admin pages.
.cora-custom-page {
    font-size: 15px;
	background-color: transparent;
	margin-top: -.35em;
	margin-bottom: -.35em;
    @extend %cora-custom-typography;
}