/* Forms */
html body.wp-admin {
    input[type=checkbox],
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=radio],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea
    {
        box-shadow: none;
        background-color: var(--forms_field_background) !important;
        border-color: var(--forms_field_border) !important;
        color: var(--secondary_text_color) !important;
        border-radius: 3px;
    }

    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week]{
        min-height: 28px;
    }
}

::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder {
    color: var(--secondary_text_color) !important;
}


.form-wrap p,
p.description {
    color: var(--secondary_text_color);
}

.form-table th,
.form-wrap label {
    color: var(--primary_text_color);   
}

.form-wrap .form-field {
    margin: 2em 0;
}
