input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=radio],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    box-shadow: none;
    background-color: var(--primary_background_color);
    border-color: var(--secondary_background_colour);
    color: var(--secondary_text_colour);
}
::placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder {
    color: var(--secondary_text_colour) !important;
}


.form-wrap p, p.description {
    color: var(--secondary_text_colour);
}

.form-table th, .form-wrap label {
    color: var(--primary_text_color);   
}

.form-wrap .form-field {
    margin: 2em 0;
}
