/* Layout */

body {
    background: var(--primary_background_color);
    color: var(--primary_text_color);
}

#wpcontent, #wpfooter {
    margin-left: var(--menu_width);
    padding: 90px 60px;
}

.folded {
    #wpcontent, #wpfooter {
        margin-left: var(--menu_folded_width);
    }    
}

.wrap {
    margin: 0;
}

.page-title-action {
    background: rgba(0, 0, 0, 0.15) !important;
    color: var(--secondary_text_color) !important;
    border: none !important;
    border-radius: 3px;

    &:hover {
        background: rgba(0, 0, 0, 0.3) !important;
    }
}

#titlediv #title {
    background-color: var(--primary_background_color);
}

#major-publishing-actions{
    background: transparent;
    border: 0;
}

.wp-editor-container {
    border-color: var(--secondary_background_color) !important;

    .quicktags-toolbar {
        background: var(--secondary_background_color) !important;
        border: none;
    }
}

.notification-dialog {
    background: var(--secondary_background_color);
}

.card {
    border: none;
    box-shadow: none;
    background: var(--secondary_background_color);
    border-radius: 5px;
}

.notice, div.error, div.updated {
    background-color: var(--secondary_background_color) !important;
    border-radius: 5px;
    box-shadow: none;
}

hr {
    border-top: 1px solid rgba(150, 140, 140, 0.2);
    border-bottom: 1px solid rgba(150, 140, 140, 0.2);
}

.cora_footer_info {
    margin-left: 10px;
    float: left;

    span {
        margin-left: 5px;
        padding: 4px 10px;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.1);
    }

}