/* Meta Links */
#screen-meta-links {
    margin: 0px;
}

#screen-meta{
    background-color: var(--secondary_background_color);
    border: transparent  !important;
    margin-bottom: 15px;
    margin-right: 0;
    border-radius: 4px;
}

#contextual-help-back{
    background-color: var(--secondary_background_color);
    border: 0;
}

.contextual-help-tabs{

    a:hover{
        color: var(--secondary_text_color) ;
    }

    .active{
        background: var(--primary_background_color);

        a{
            border: 0;
            color: var(--primary_text_color);
        }        
    }

}

#screen-meta-links {
    button {
        background: var(--secondary_background_color)  !important;
        color: var(--secondary_text_color)  !important;
        border-radius: 3px  !important;
        border: transparent  !important;

        &:active, &:focus, &:hover {
            color: #32373c;
        }
    }
}
