/* Toolbar */

html.wp-toolbar {
    padding: 0px;
}

// Toolbar wrapper

#wpadminbar {    
    padding: 6px 90px;
    position: absolute;
    height: 45px;
    box-sizing: border-box;
    background: var(--toolbar_background)!important;
    
    * {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 32px;
    }

    // Toolbar items
    #wp-toolbar {

        ul.ab-top-menu > li {
            
            // Top links
            > a.ab-item {
                border-radius: 3px;
                padding: 0px 8px !important;

                &, &::before, span, span::before {
                    color: var(--toolbar_item_text) !important;
                }

            }
            
            a.ab-item:hover {
                color: var(--toolbar_highlight_text) !important;
            }

            // On hover
            &:hover , &.hover {
                
                > a.ab-item {
                    
                    background-color: var(--toolbar_highlight_background);

                    &, &::before, span, span::before {
                        color: var(--toolbar_highlight_text) !important;
                    }
                    
                }
            }

            // Submenu
            .ab-sub-wrapper, .shortlink-input {
                background-color: var(--toolbar_highlight_background);
                margin-top: 8px;
                border-radius: 4px;
                box-shadow: 0 0px 30px rgba(0,0,0,.1);
            }
            
            // Secondary submenu
            ul.ab-sub-secondary {
                &, .ab-submenu {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

        }
        
        #wp-admin-bar-comments .count-0 {
            opacity: 1;
        }

        #wp-admin-bar-my-account.with-avatar>.ab-empty-item img,
        #wp-admin-bar-my-account.with-avatar>a img {
            width: auto;
            height: 24px;
            border: none;
            margin: -4px 0 0 12px;
            border-radius: 24px;
        }
        
    }

}

// Custom icons
#wpadminbar #wp-toolbar {
    #wp-admin-bar-comments .ab-icon:before,
    #wp-admin-bar-new-content .ab-icon:before,
    #wp-admin-bar-updates .ab-icon:before,
    #wp-admin-bar-site-name>.ab-item:before{
        font-family: Material Icons!important;
        font-size: 18px;
        word-wrap: normal;
        font-feature-settings: "liga";
    }

    #wp-admin-bar-updates .ab-icon:before{
        content: "archive";
        top: 1px;
    }

    #wp-admin-bar-site-name>.ab-item:before {
        top: 3px;
        content: "dashboard";
    }
    #wp-admin-bar-comments .ab-icon:before {
        content: "mail";
        top: 1px;
    }
    #wp-admin-bar-new-content .ab-icon:before {
        content: "flash_on";
        top: 2px;
    }

}

@media screen and (max-width: 782px) {
    #wpadminbar {
        width: 100% !important;
        left: 0;
        padding: 0;
        height: 46px;

        #wp-toolbar{
            ul.ab-top-menu > li > a.ab-item {
                padding: 0 !important;
            } 
        }

        #wp-admin-bar-comments .ab-icon:before,
        #wp-admin-bar-new-content .ab-icon:before,
        #wp-admin-bar-site-name>.ab-item:before{
            font-size: 24px !important;
            top: 11px !important;
            line-height: initial;
        }

    }
}
