/* Typography: load fonts */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');


/* Typography: Links */

a{
    color: var(--primary_link_color);
}

/* Typography: Headings */

h1{
    color: var(--primary_text_color);
}

.wrap h1{
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
    padding: 0;
}

#dashboard-widgets h3, #dashboard-widgets h4, #dashboard_quick_press .drafts h2, h2, h3 {
    color: var(--primary_text_color);
}

