/* Typography: Load Josefin Sans */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i&display=swap');

/* Typography: Links */

a{
    color: var(--link_color);
}

/* Typography: Headings */

h1{
    color: var(--primary_text_color);
}

.wrap h1{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -0.5px;
    padding: 0;
    font-family: Josefin Sans,sans-serif;
    margin-left: -1px;
    line-height: 35px;
}

#dashboard-widgets h3, #dashboard-widgets h4, #dashboard_quick_press .drafts h2, h2, h3 {
    color: var(--primary_text_color);
}

