/* variables */

:root{
    --primary_background_color: #4a525d;
    --secondary_background_colour: #535b66;
    --primary_text_color: #fff;
    --secondary_text_colour: #f7f0f0;
    --primary_link_color: #6c8fc3;
    --menu_width: 220px;
    --menu_folded_width: 55px;
}