/* Editor Page */

// Styles wont be used for editor page.
body.block-editor-page {
    --primary_background_color: #fff;
    --secondary_background_color: #eaeef3;
    --primary_text_color: #555;
    --secondary_text_color: #777;
    --link_color: #5980bb;
    --forms_field_background: #fff;
    --forms_field_border: rgba(0,0,0,0.1);
        
    #wpadminbar {
        padding: 5px 20px;
        height: 43px;
        box-sizing: border-box;
        background: var(--toolbar_background)!important;
    }    
}

@media (min-width: 782px) {
    .edit-post-header {
        top: 43px;
    }
    .edit-post-sidebar {
        top: 99px;
    }
    .has-fixed-toolbar .block-editor-editor-skeleton {
        top: 99px;
    }
    .block-editor-editor-skeleton {
        left: var(--menu_width) !important;
    }
}

@media screen and (max-width: 782px){
    body.block-editor-page.auto-fold {
        #wpadminbar {
            height: 53px;
        }    
        #wpcontent {
            position: relative;
            margin-left: 0;
            padding: 0!important;
        }
    }
}

body.js.is-fullscreen-mode .edit-post-header {
    left: 0 !important;
}