/* Customizer Page */

// Styles wont be used for customizer page.
body.wp-customizer {
    --primary_background_color: #fff;
    --secondary_background_color: #eaeef3;
    --primary_text_color: #555;
    --secondary_text_color: #777;
    --link_color: #5980bb;
    --toolbar_background: #242831;
    --toolbar_item_text: rgba(255, 255, 255, 0.65);
    --toolbar_highlight_text: hsla(0,0%,100%,0.9);
    --toolbar_highlight_background: #6b727d;
    --forms_field_background: #fff;
    --forms_field_border: rgba(0,0,0,0.1);
    --primary_button_color: #02b875;
    --primary_button_text: #fff;
    --secondary_button_color: #e1e4ea;
    --secondary_button_text: #666;
}
