/* Dashboard Page */

#update-nag, .update-nag {
    margin: 5px 20px 30px 2px;
    background-color: var(--secondary_background_color);
}

#dashboard_right_now .main {
    padding: 0 18px 18px;
}

#dashboard_quick_press form {
    margin: 18px;
}

#dashboard-widgets h3, #dashboard-widgets h4, #dashboard_quick_press .drafts h2, h2, h3 {
    color: var(--primary_text_color);
}

#activity-widget #the-comment-list li.comment-item, #dashboard_right_now .sub {
    background: rgba(0,0,0,.04);
    box-shadow: none;
}

.community-events ul {
    background: rgba(0,0,0,.05);

    li {
        color: var(--secondary_text_color);
    }
}

#latest-comments #the-comment-list {
    position: relative;
    margin: 0 -18px;
}

#dashboard_quick_press .drafts li time {
    color: var(--secondary_text_color);
}

#future-posts ul span, #published-posts ul span {
    color: var(--secondary_text_color);
}

#dashboard-widgets .meta-box-sortables {
    margin: 0 10px;
}

#dashboard-widgets-wrap {
    margin: 0 -10px;
}

.site-health-progress-label {
    margin-left: 0.75rem;
}

.welcome-panel {
    background: var(--secondary_background_color);
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 25px 15px 10px;
    
    .welcome-panel-close {
        opacity: .55;
        color: var(--secondary_text_color) !important;
        font-weight: 700;

        &::before {
            color: var(--secondary_text_color) !important;
        }
    
    }
    
    .welcome-icon {
        background: 0 0 !important;
        color: var(--secondary_text_color) !important;
    }

    .load-customize {
        border-radius: 30px;
    }

    .welcome-panel-column p, p {
        color: var(--secondary_text_color);
    }

    .welcome-panel-column ul {
        margin: 1.2em 1em 1.2em 0;
        
        li {
            line-height: 1;
        }
    }

    .welcome-widgets::before {
        content: "\f489";
        top: -2px;
    }

    .welcome-menus::before {
        content: "\f228";
        top: -3px;
    }

    .welcome-view-site::before {
        top: -3px;
        content: "\f148";
    }

    .welcome-setup-home::before {
        top: -2px;
    }
}

#dashboard_right_now li a:before,
#dashboard_right_now li span:before,
.welcome-icon:before {
    color: var(--secondary_text_color) !important;
}

.welcome-icon:before {
    padding: 0 12px 0 0 !important;
}

.community-events-footer {
    color: transparent;
}