/* Dashboard Page */

#update-nag, .update-nag {
    margin: 5px 20px 30px 2px;
    background-color: var(--secondary_background_color);
}

#activity-widget #the-comment-list li.comment-item {
    background: rgba(0, 0, 0, 0.1);
}

.community-events ul {
    background: rgba(0, 0, 0, 0.08);
    li{
        color: var(--secondary_text_color);

    }
}

#dashboard_quick_press .drafts li time {
    color: var(--secondary_text_color);
}

#future-posts ul span, #published-posts ul span {
    color: var(--secondary_text_color);
}

.welcome-panel {
    background: var(--secondary_background_color);
    border: none;
    border-radius: 5px;
}

.welcome-panel-column p, .welcome-panel p {
    color: var(--secondary_text_color);
}


.community-events-footer {
    color: transparent;
}
