/* Dashboard Page */

#update-nag, .update-nag {
    margin: 5px 20px 30px 2px;
    background-color: var(--secondary_background_color);
}

#dashboard_right_now .main {
    padding: 0 18px 18px;
}

#dashboard_quick_press form {
    margin: 18px;
}

#activity-widget #the-comment-list li.comment-item {
    background: rgba(0,0,0,.05);
    box-shadow: none;
}

.community-events ul {
    background: rgba(0,0,0,.05);

    li {
        color: var(--secondary_text_color);
    }
}

#latest-comments #the-comment-list {
    position: relative;
    margin: 0 -18px;
}

#dashboard_quick_press .drafts li time {
    color: var(--secondary_text_color);
}

#future-posts ul span, #published-posts ul span {
    color: var(--secondary_text_color);
}

.welcome-panel {
    background: var(--secondary_background_color);
    border: none;
    border-radius: 5px;
    box-shadow: none;

    .welcome-panel-close {
        font-size: 13px;
        line-height: 1.23076923;
        text-decoration: none;
        overflow: hidden;
        text-indent: 40px;
        white-space: nowrap;
        width: 20px;
        height: 20px;
        padding: 5px;
        top: 5px;
        right: 5px;
        opacity: 0.3;

        &:before {
            font-size: 20px;
            top: 5px;
            left: -35px;
        }
        
    }
    
    .welcome-panel-column p, p {
        color: var(--secondary_text_color);
    }        
}


.community-events-footer {
    color: transparent;
}