/* Login Page */

body.login {
    background-image:var(--background_image);

    h1 {
        display: none;
        font-family: 'Josefin Sans', sans-serif;
        color: var(--primary_text_color);

        img {
            max-width: 100%;
            height: auto;        
        }
    }

    input[type=checkbox],
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=radio],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea
    {
        background-color: var(--forms_field_background) !important;
        border-color: var(--forms_field_border) !important;
        color: var(--secondary_text_color) !important;
    }

    label {
        color: var(--secondary_text_color);
    }

    .wp-pwd {
        position: relative;
        float: left;
        width: 100%;
    }

    form {
        background-color: transparent;
        box-shadow: none;
        border: none;

        p {
            float: left;
            width: 100%;
        }

        .input, input[type=checkbox], input[type=text] {
            padding: 3px 10px;
            border-radius: 4px;
        }

        .input, input[type=password], input[type=text] {
            margin-bottom: 5px;
            font-size: 13px;
            padding: 12px;
            color: var(--secondary_text_color)!important;
            float: left;
            width: 100%;
                            
            &::placeholder{
                color: var(--secondary_text_color) !important;
                font-size: 13px;
                color: var(--secondary_text_color)!important;
            }
        }

    }

    p.forgetmenot {
        margin: 15px 0px;
    }
    
    #backtoblog a, #nav a {
        text-decoration: none;
        color: var(--primary_text_color);
    }        

    #login_error, .message, .success {
        background: var(--secondary_background_color);
        float: left;
        width: calc(100% - 60px);
        box-sizing: border-box;
        margin: 0px 30px;
    }

}