/* Login Page - Standard */

body.login.cora-standard {

    height: fit-content;

    #login {
        background: var(--secondary_background_color);
        border-radius: 5px;
        padding: 0px;
        margin-top: 8%;
        margin-bottom: 0;

        h1 {
            padding: 40px 0 20px 0px;
            width: 100%;
            float: left;
            box-sizing: border-box;
            font-size: 20px;
            line-height: 20px;
                        
            a {
                margin-bottom: 0;
            }
        }

        form {
            padding: 30px;
            margin: 0;
        }
    }

    #backtoblog, #nav {
        font-size: 13px;
        padding: 15px 30px;
        width: 100%;
        clear: both;
        box-sizing: border-box;
        display: inline-block;
        margin: 0px !important;
        border-top: 1px solid rgba(0, 0, 0, 0.065);
    }

    #backtoblog {
        display: none;
    }

    #wp-submit {
        width: 100%;
        margin-top: 30px;    
    }
}


// Height Control
@media screen and (max-height: 550px) {

    body.login.cora-standard {
    
        #login {
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }    
    
    }

}
