/* Media Page */

.media-frame {
    input[type=email]
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=text],
    input[type=url],
    select,
    textarea {
        border-color: var(--secondary_background_color);
    }    
}

.wp-filter {
    border: none;
    background-color: var(--secondary_background_color) !important;
    border-radius: 3px;
}

.media-frame.mode-grid .uploader-inline , .media-frame-content, .edit-attachment-frame .attachment-info{
    border-color: var(--secondary_background_color);
}

.media-modal-content, .media-frame-content {
    background: var(--primary_background_color);
}

.edit-media-header button, .media-modal-icon:before{
    color: var(--secondary_text_color) !important;
    border-color: var(--secondary_background_color) !important;

    &.disabled {
        color: var(--secondary_text_color) !important;
        opacity: 0.5;
    }
}

.edit-attachment-frame .attachment-info {
    background: var(--secondary_background_color);
}

.attachment-info {
    color: var(--primary_text_color);
}

.attachment-info .filename{
    color: var(--secondary_text_color) !important;
}

.attachment-details .setting span, .compat-item label span, .media-sidebar .setting span {
    color: var(--secondary_text_color);
}

div.media-sidebar {
    background: var(--secondary_background_color);
    border-color: var(--secondary_background_color);
}

.edit-attachment-frame {
    .attachment-info {
        .details, .settings {
            border-color: var(--primary_background_color);
        }
    }    
}

.attachment-info .actions {
    color: transparent;
}

.edit-attachment-frame, .upload-php {

    .edit-media-header {

        .left:focus, .left:hover, .right:focus, .right:hover {
            background: rgba(0, 0, 0, 0.06);
            color: var(--secondary_text_color);
        }

    }

    .media-modal-close {
        &:focus, &:hover {
            background: rgba(0, 0, 0, 0.06);
            color: var(--secondary_text_color);
        }
    }

}

.media-router .active, .media-router>a.active:last-child {
    background: var(--primary_background_color) !important;
    border-color: var(--secondary_background_color) !important;
    color: var(--primary_text_color) !important;
}

.media-router .active, .media-router .active:hover {
    color: var(--primary_text_color);
}

.media-frame a:focus {
    color: var(--secondary_text_color);
}

.media-frame-toolbar .media-toolbar {
    border-color: var(--secondary_background_color);
}