/* Menu Editor Page */

a.nav-tab-active, a.nav-tab-active:focus, a.nav-tab-active:focus:active, a.nav-tab-active:hover {
    background-color: var(--primary_background_color);
    border-bottom: 1px solid var(--primary_background_color) !important;
    color: var(--primary_text_color) !important;
}

.nav-tab {
    border-color: rgba(0,0,0,.2) !important;
    background: var(--secondary_background_color);
    color: var(--secondary_text_color);

    &:hover, &:hover {
        background-color: var(--primary_background_color);
        color: var(--primary_text_color);    
    }
}

.js .control-section .accordion-section-title:focus, .js .control-section .accordion-section-title:hover, .js .control-section.open .accordion-section-title, .js .control-section:hover .accordion-section-title {
    color: var(--primary_text_color);
    background: var(--secondary_background_color);
}

.nav-tab-wrapper, .wrap h2.nav-tab-wrapper, h1.nav-tab-wrapper {
    border-color: rgba(0,0,0,.1);
}

.manage-menus {
    background: var(--secondary_background_color);
    border: none;
    border-radius: 3px;
    border: none;
}

#menu-management .menu-edit,  #menu-settings-column .accordion-container {
    border: none;
}

.accordion-section {
    border-bottom-color: var(--primary_background_color) !important;
}

.accordion-section-content {
    background: var(--secondary_background_color);
}

.categorydiv div.tabs-panel, .customlinkdiv div.tabs-panel, .posttypediv div.tabs-panel, .taxonomydiv div.tabs-panel, .wp-tab-panel {
    background-color: var(--primary_background_color);
    border-color: rgba(0, 0, 0, 0.1);
}

.wp-tab-active, ul.add-menu-item-tabs li.tabs, ul.category-tabs li.tabs {
    background-color: var(--primary_background_color);
    border-color: rgba(0, 0, 0, 0.1);
}

#post-body ul.add-menu-item-tabs li.tabs a, #post-body ul.category-tabs li.tabs a, #side-sortables .add-menu-item-tabs .tabs a, #side-sortables .category-tabs .tabs a, .wp-tab-bar .wp-tab-active a {
    color: var(--primary_text_color);
}

.control-section .accordion-section-title, .customize-pane-child .accordion-section-title {
    background: var(--secondary_background_color);
}

#nav-menu-footer, #nav-menu-header {
    background: var(--primary_background_color);
    border-color: rgba(0,0,0,.075) !important;
}

#nav-menu-footer {
    border-top: 1px solid;
}

.nav-menus-php #post-body {
    background: var(--secondary_background_color);
    border-color: transparent;
}

.menu-settings {
    border-color: transparent;
}

.howto {
    color: var(--secondary_text_color);
}

.item-type {
    color: var(--secondary_text_color);
}

.menu-item-settings {
    border-color: rgba(0, 0, 0, 0.1);
}

.link-to-original {
    color: var(--secondary_text_color);
    border-color: rgba(0, 0, 0, 0.1);
}

.outer-border {
    border-radius: 5px;
    overflow: hidden;
}

.menu-edit {
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.075) !important;
}

.nav-menus-php #post-body {
    padding: 15px 30px;
}