/* Code editor for themes & plugins */

#templateside>ul {
    background-color: var(--secondary_background_color);
    border: none;
}

[role=treeitem] .folder-label.hover, [role=treeitem].hover {
    background-color: rgba(0, 0, 0, 0.15);
}
