/* Plugins Page */
table.plugins{
    border: none;
}

.plugins tr {
    background: inherit;
}

.plugins .active td, .plugins .active th {
    background-color: rgba(0, 0, 0, 0.04);
}
.plugins{
    tr, td, th{
        box-shadow: none !important;
    }
}

.widefat ol, .widefat p, .widefat ul {
    color: var(--primary_text_color);
}