/* Add Plugins Page */

.filter-links .current {
    border-bottom: 4px solid rgba(0, 0, 0, 0.3);
    color: var(--primary_text_color);
}
.filter-links li>a {
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    color: var(--primary_text_color);
}
