/* Posts Page */

.comment-ays,
.feature-filter,
.imgedit-group,
.popular-tags,
.stuffbox,
.widgets-holder-wrap,
p.popular-tags,
table.widefat {
    margin: 30px 0px;
    background: var(--secondary_background_color);
    border-color: transparent;
    border-radius: 5px;

    .row-title {
        font-size: 14px!important;
        font-weight: 600;
    }    
}

.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd){
    background-color: var(--secondary_background_color);
}

.widefat thead td, .widefat thead th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.widefat tfoot td, .widefat tfoot th{
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.row-actions {
    color: var(--secondary_background_color);
}

.wrap > .subsubsub {
    margin-bottom: 15px;

    li {
        float: left;
        font-size: 0px;
        margin-right: 8px;
        
        a {
            background: transparent;
            line-height: inherit;
            border-radius: 5px;
            font-size: 12px;
            padding: 4px 10px 5px;

            &.current {
                color: var(--primary_text_color);
                background: rgba(0,0,0,.065);
                padding: 5px 12px 5px;
                border: none;
                font-weight: normal;
            }
        }
    }    
}
.ac_match, .subsubsub a.current {
    color: var(--primary_text_color);
}

.cora-thumb-icon {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    margin: 0 auto;

    &::before{
        font-family: Dashicons;
        speak: none;
        font-weight: 400;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        text-indent: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        text-align: center;
        content: "ï„¨";
        font-variant: normal;
        margin: 0px;
    }
}
.column-cora-thumb {
    width: 80px;

    img {
        width: 100%;
        height: auto;
    }
}