/* Widgets Page */

.inactive-sidebar .description, .widget-holder .description {
    color: var(--secondary_text_color);
}

#available-widgets .widget-description, #widgets-right a.widget-control-edit, .in-widget-title {
    color: var(--secondary_text_color);
}

.menu-item-handle, .widget .widget-top {
    background: var(--secondary_background_color);
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.menu-item-handle, .widget .widget-top {
    color: var(--secondary_text_color);
}

.widget-inside {
    background: var(--secondary_background_color);
    border-color: rgba(0,0,0,.1);
}

.widget-control-actions {
    color: transparent;
}