/* WooCommerce Support */

body .woocommerce .subsubsub {
    margin: 10px 0;
}

.post-type-product .woocommerce-BlankState .woocommerce-BlankState-message,
.post-type-shop_order .woocommerce-BlankState .woocommerce-BlankState-message,
.marketplace-suggestions-container.showing-suggestion .marketplace-suggestion-container .marketplace-suggestion-container-content p {
    color: var(--secondary_text_color) !important;
}

.marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context=orders-list-empty-body], .marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context=orders-list-empty-footer], .marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context=orders-list-empty-header], .marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context=products-list-empty-body], .marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context=products-list-empty-footer], .marketplace-suggestions-container.showing-suggestion[data-marketplace-suggestions-context=products-list-empty-header] {
    border-color: rgba(0, 0, 0, 0.1) !important;
}

.woocommerce-layout__header {
    top: 53px !important;
}

.woocommerce-embed-page .wrap {
    padding: 75px 75px 0 !important;
}

.woocommerce-layout__header {
    .woocommerce-layout__header-breadcrumbs {
        background: var(--secondary_background_color) !important;
    }
    .woocommerce-layout__activity-panel-tabs .woocommerce-layout__activity-panel-tab {
        background: var(--secondar_background_color) !important;
        color: var(--secondary_text_color) !important;
    }    
}

.wc_addons_wrap form.search-form input {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.wc_addons_wrap .addons-banner-block, .wc_addons_wrap .addons-wcs-banner-block {
    background: var(--secondary_background_color) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.wc-helper .start-container {
    background-color: var(--secondary_background_color) !important;
}

#woocommerce-coupon-data ul.wc-tabs::after, #woocommerce-product-data ul.wc-tabs::after, .woocommerce ul.wc-tabs::after {
    background-color: var(--primary_background_color)!important;
    border-right: 1px solid var(--primary_background_color)!important;
}

.wc_addons_wrap .addons-banner-block-item-icon {
    background: var(--primary_background_color) !important;
}

.wc_addons_wrap .addons-banner-block-item {
    border-color: var(--primary_background_color) !important;
}
.wc_addons_wrap .addons-column-block-item{
    border-color: var(--secondary_background_color) !important;
}
.wc_addons_wrap .addons-column-block, .wc_addons_wrap .addons-small-light-block {
    background: var(--secondary_background_color) !important;
    border-color: var(--secondary_background_color) !important;
}


#woocommerce-coupon-data .panel-wrap, #woocommerce-product-data .panel-wrap {
    background: var(--secondary_background_color) !important;
}

#woocommerce-coupon-data ul.wc-tabs, #woocommerce-product-data ul.wc-tabs, .woocommerce ul.wc-tabs {
    background-color: var(--primary_background_color) !important;
}

#woocommerce-coupon-data ul.wc-tabs li a, #woocommerce-product-data ul.wc-tabs li a, .woocommerce ul.wc-tabs li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.panel, .woocommerce_options_panel {
    color: var(--secondary_text_color) !important;
}

#woocommerce-coupon-data ul.wc-tabs li.active a, #woocommerce-product-data ul.wc-tabs li.active a, .woocommerce ul.wc-tabs li.active a {
    color: var(--primary_text_color) !important;
    background-color: rgba(0, 0, 0, 0.06) !important;
}

.woocommerce-page .wp-has-current-submenu:after {
    display: none;
}

.woocommerce-setting__input label, .woocommerce-setting__help {
    color: var(--secondary_text_color) !important;
}

.woocommerce-setting {
    .components-select-control__input {
        background: var(--forms_field_background);
    }    
}

body.woocommerce-feature-enabled-analytics-dashboard {
    .woocommerce-layout__primary {
        padding: 40px 40px;
    }
    
    .woocommerce-page .woocommerce-dropdown-button {
        background-color: rgba(0, 0, 0, 0.08);
        border-color: transparent;
        color: var(--secondary_text_color);
    }

    .woocommerce-card, .woocommerce-filters {
        --primary_background_color :#f3f4f9;
        --secondary_background_color :#ffffff;
        --primary_text_color :#5a5a61;
        --secondary_text_color :#7e7e92;
        --link_color :#0073aa;
        --primary_button_color :#02B875;
        --primary_button_text :#ffffff;
        --secondary_button_color :#dadbe0;
        --secondary_button_text :#666;
        --forms_field_background :rgba(255, 255, 255, 0);
        --forms_field_border :rgba(0, 0, 0, 0.1);

        color: var(--primary_text_color);

        a {
            --link_color :#0073aa;
        }

        h1, h2, h3, h3, h4, h5, h6, span, div, small {
            color: var(--primary_text_color);
        }

        span.woocommerce-filters-label {
            display: none;
        }        
    }
}